
body{
		background:linear-gradient(to right, #669999 20%, #00ffcc 92%);
		border:30px groove gray;
}
main {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

header {
	width: 960px;
	margin: 0 auto;
}

h1{
  text-align: center;
  margin-top: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size:50px;
}




h4{
	display:inline-block;
	padding-right:40px;
	padding-left: 30px;
	font-size: 18px;
	padding-top:5px;
	padding-bottom: 5px;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px darkslategrey inset;
}

a {
	text-align: center;
	display: block;
	width: 100px;
	margin: 0 auto;
	text-decoration: none;
}

p {
	margin: 0 auto;
	padding: 1.5em 0;
  font-size: 1.25em;
	line-height: 1.5em;
	width: 70%;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	font-family: 'Press Start 2P', cursive;
}

ul {
	margin: 0 auto;
	width: 90%;
	
}

li {
  padding: 1em 2.75em;
  margin: 0 auto;
  display: inline;
}

section>section>p:first-child {
	font-size: 50px;
}

section>section>p {
	text-align: center;
	font-size: 40px;
	width: 30px;
	margin: 0 auto;
	padding: 0;
}

section>section>p:last-child {
	font-size: 30px;
}

img {
    width: 200px;
		height:200px;
		margin-top:10px;
		border:10px groove gray;

}

#profiles {
	
	text-align: center;
}


