
body{
    background:linear-gradient(to right, #669999 20%, #00ffcc 92%);
    border: 13px double black;
   };
 
.section2 {
display: inline-block;
padding-right: 300px;
}

  h1 {
    font-family: 'Press Start 2P', cursive;     
    text-align: center;
    font-size: 45px;
    padding-top: 150px;
}
#star {
   /
    padding: 5px 5px 100px 10px;
    
}
nav{
    margin:100px 0px 10px 650px;
    padding-left: 350px;
    font-size: 25px;
   }
   nav ul{
    margin:0px;
    padding:5px 0px 5px 30px;
    list-style-type: none;
   }
   nav li{
    display:inline-block;
    margin-right:40px;
   }
   nav li a{
    color:#ffffff;
   }
   nav li a:hover,nav li a.current{
    color:#000000;
   }
   img {
       width:300px;
       margin-top: 150px;
   }
   #thanks {
       text-align:center;
   }
#picture1 {
    border: 2px double black;
    padding-right: 150px;
    padding-left: 250px;
    
}
#picture2 {
    border: 2px double black;
    padding-right: 250px;
    padding-left: 20px;
    border: 2px double black;
    height: 35px;
}
#picture3 {
    border: 2px double black;
    padding-right:150px;
    padding-left:50px;
    
}
#picture4 {
    padding-right: 1px;
    padding-left: 1px;
    border: 2px double black;

/* .section1 {
    border: 3px solid black;
    padding: 15px 10px 5px 75px;
} */