
* {
  box-sizing: border-box;
}

body{
  background-image: url("Assets/skyandgrass.png" );
  background-size: cover;
  background-repeat: no-repeat;
  border-left:10em solid rgb(19,2,2);
  border-right:10em solid rgb(19, 2, 2);
  height: 100%;
 }
 section {
   height:100%;
 }
 section{
   display: block;
   justify-content: center;
   align-items: center;
   margin-left: 8%;
   list-style-type: none;
   /* margin:0; */
   padding:0;
   position: relative
 }
 img{
  list-style-type: none;
  margin:0;
  padding:0;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin:600px 0px 10px 150px; */
  width:200px;
  padding-top:150px;
  margin:20px 20px 0px 50px
}

canvas {
  display: block;
margin-left: auto;
margin-right: auto;
width: 900px;
height: 450px;
border:5px solid black;
}

#timer {
  float: left;
  margin-left: -150px;
  position: fixed;
}
#score {
  float:right;
  margin-right: -120px;
  text-align: center;
  font-size: 80px;
  color: yellow; 
}
#displayTime {
color: red;
  font-size: 80px;
  float: left;

}