
* {
  box-sizing: border-box;
}

body{
  background-image: url("Assets/skyandgrass.png" );
  background-size: cover;
  background-repeat: no-repeat;
  border-left:10em solid rgb(19,2,2);
  border-right:10em solid rgb(19, 2, 2);
  height: 100%;
 }
 section {
   height:100%;
 }
 
 img{
  position: relative;
  /* margin:600px 0px 10px 150px; */
  width:200px;
  padding-top:150px;
  margin:20px 20px 0px 50px
}

canvas {
margin: auto;
padding: auto;
width: 900px;
height: 450px;

}

#timer {
  float: left;
  margin-left: -150px;
}
#score {
  float:right;
  margin-top: -1250px;
  margin-right: -100px;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 80px;
  color: yellow; 
}
#displayTime {
color: red;
  font-size: 80px;
  float: left;

}