body{
  background-image: url("Assets/skyandgrass.png" );
  background-repeat: no-repeat;
  border-left:10em solid brown;
  border-right:10em solid brown;
 
 }
 
 img{
  position: relative;
  /* margin:600px 0px 10px 150px; */
  width:200px;
  display:inline;
  padding-top:150px;
  margin:20px 20px 0px 50px
}

 
 canvas {
 width: 900px;
 height: 450px;
 border: 1px solid black;
 margin-left:100px
 }